<h1>Borrow a Book</h1>

<form id="borrow-book-form">
  <div class="field">
    <label for="book-select">Select a Book</label><br />
    <select id="book-select" name="book_id">
      <option value="" disabled selected>Choose a book</option>
      <% @available_books.each do |book| %>
        <option value="<%= book.id %>"><%= book.title %></option>
      <% end %>
    </select>
  </div>
  <div class="actions">
    <button type="submit" id="borrow-button">Borrow</button>
  </div>
</form>

<div id="borrow-book-response"></div>
<script src="<%= asset_path 'borrow_book.js' %>"></script>